<!Doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
This is Customer Registration. Below are the Customers.
<div th:text="${customer}"></div>
<table border="1">
    <thead>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Username</th>
        <th>Email</th>
        <th>Password</th>
    </thead>
    <tbody>
    <tr th:each="cus:${customer}">
        <td th:text="${cus.firstname}"></td>
        <td th:text="${cus.lastname}"></td>
        <td th:text="${cus.username}"></td>
        <td th:text="${cus.email}"></td>
        <td th:text="${cus.password}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>